---
import Link from "@/components/atoms/Link.astro";
import Tag from "@/components/atoms/Tag.astro";
import { COLORS } from "@/constants/color";
import { SITE_NAME } from "@/constants/index";
import Layout from "@/layouts/Layout.astro";

const baseColor = COLORS.GREEN;
---

<Layout
    activeName='ktym4a'
    title={SITE_NAME}
    description="ktym4a's website"
    baseColor={baseColor}
>
    <section id='SiteName'>
        <Tag text='SiteName'>
            <h1
                class='mb-2 break-words text-2xl font-bold tracking-tight md:text-4xl lg:text-6xl'
            >
                <span class='text-ctp-green'>Astro</span> <span
                    class='text-ctp-pink'>Page</span
                > <span class='text-ctp-blue'>Insight</span>
            </h1>
        </Tag>
    </section>
    <section id='Quote'>
        <Tag text='Quote' className='gap-2'>
            <blockquote class='inline-flex flex-col'>
                <div
                    class='h-4 text-left text-2xl font-extrabold text-ctp-green md:text-4xl lg:h-6 lg:text-5xl'
                >
                    “
                </div>
                <p
                    class='text-pretty px-2 font-mono-script text-lg font-bold leading-tight tracking-tight text-ctp-text md:px-8 md:text-3xl lg:leading-normal'
                >
                    Shows everything to improve from Lighthouse results directly on the page.
                </p>
                <div
                    class='h-4 text-right text-2xl font-extrabold text-ctp-green md:text-4xl lg:h-6 lg:text-5xl'
                >
                    ”
                </div>
            </blockquote>
        </Tag>
    </section>
    <p class='ml-auto mt-4 text-pretty text-left text-xs'>
        Designed and Coded by yours truly. Color palette used <Link
            href='https://github.com/catppuccin/catppuccin'
            colors={{
                hoverText: baseColor.hoverText as string,
                focusText: baseColor.focusText as string,
                focusOutline: baseColor.focusOutline as string,
                text: baseColor.text as string
            }}
            rel='noopener'
            class='underline'
            target='_blank'
            title='Catppuccin'
        >
            {'Catppuccin'}
        </Link>. Built with <Link
            href='https://astro.build/'
            colors={{
                hoverText: baseColor.hoverText as string,
                focusText: baseColor.focusText as string,
                focusOutline: baseColor.focusOutline as string,
                text: baseColor.text as string
            }}
            rel='noopener'
            class='underline'
            target='_blank'
            title='Astro'
        >
            {'Astro'}
        </Link> and <Link
            href='https://tailwindcss.com/'
            colors={{
                hoverText: baseColor.hoverText as string,
                focusText: baseColor.focusText as string,
                focusOutline: baseColor.focusOutline as string,
                text: baseColor.text as string
            }}
            rel='noopener'
            class='underline'
            target='_blank'
            title='Tailwind CSS'
        >
            {'Tailwind CSS'}
        </Link>, Deployed with <Link
            href='https://pages.cloudflare.com/'
            colors={{
                hoverText: baseColor.hoverText as string,
                focusText: baseColor.focusText as string,
                focusOutline: baseColor.focusOutline as string,
                text: baseColor.text as string
            }}
            rel='noopener'
            class='underline'
            target='_blank'
            title='Cloudflare Pages'
        >
            {'Cloudflare Pages'}
        </Link>, and Use <Link
            href='https://www.monolisa.dev/'
            colors={{
                hoverText: baseColor.hoverText as string,
                focusText: baseColor.focusText as string,
                focusOutline: baseColor.focusOutline as string,
                text: baseColor.text as string
            }}
            rel='noopener'
            class='underline'
            target='_blank'
            title='MonoLisa'
        >
            {'MonoLisa'}
        </Link> for all text.
    </p>
</Layout>
