---
import Link from "@/components/atoms/Link.astro";
import Tag from "@/components/atoms/Tag.astro";
import type { ColorType } from "@/types/index";
import type { BlogCollection } from "@/utils/blog";
import PublishedDate from "./atoms/PublishedDate.astro";

interface Props {
	post: BlogCollection & {
		baseColor: ColorType;
	};
}

const { post } = Astro.props;
---

<article class='relative'>
    <Link
        href={`/blog/${post.slug}/`}
        colors={{
            text: post.baseColor.text as string,
            childHoverBackground: post.baseColor.childHoverBackground as string,
            childFocusBackground: post.baseColor.childFocusBackground as string,
            childHoverOutline: post.baseColor.childHoverOutline as string,
            childFocusOutline: post.baseColor.childFocusOutline as string
        }}
        class={''}
        title={post.data.title}
    >
        <Tag text='Article' className='h-full'>
            <div class='flex h-full flex-col gap-1'>
                <h2 class='text-base font-bold md:text-lg'>
                    {post.data.title}
                </h2>
                <div
                    class='mt-auto flex flex-wrap items-end justify-end gap-1 gap-x-4 text-xs text-ctp-text md:flex-row md:gap-4 md:text-sm'
                >
                    <PublishedDate date={post.data.publishedDate} type='list' />
                </div>
            </div>
        </Tag>
    </Link>
</article>
