---
import Nav from "@/components/Nav.astro";
import SNSLinks from "@/components/SNSLinks.astro";
import ToC from "@/components/ToC.astro";
import Tag from "@/components/atoms/Tag.astro";
import type { ColorType } from "@/types/index";
import type { MarkdownHeading } from "astro";

interface Props {
	baseColor: ColorType;
	activeName: string;
	tagText: string;
	toc?:
		| {
				headings: MarkdownHeading[] | undefined;
				tagName: string;
		  }
		| undefined;
}

const { baseColor, activeName, tagText, toc = undefined } = Astro.props;
---

<Tag text={tagText} className='h-full gap-2'>
    <div class='flex h-full flex-col justify-between gap-4 md:gap-6'>
        <div class='space-y-4'>
            <Nav activeName={activeName} />
            <ToC baseColor={baseColor} toc={toc} />
        </div>
        <div class='space-y-4'>
            <SNSLinks />
        </div>
    </div>
</Tag>
