---
import NavItem from "@/components/NavItem.astro";
import Tag from "@/components/atoms/Tag.astro";
import { COLORS } from "@/constants/color";

interface Props {
	activeName: string;
}

const { activeName } = Astro.props;
---

<nav class='flex flex-col gap-1'>
    <Tag text='Nav' className='gap-1'>
        <ul class='flex flex-col gap-1 break-all'>
            <NavItem
                href='/'
                current={activeName === 'ktym4a'}
                colors={{
                    text: COLORS.GREEN.text as string
                }}
                title='ktym4a'
                type='file'
            />
            <NavItem
                href='/demo/'
                current={activeName === 'demo'}
                colors={{
                    text: COLORS.PINK.text as string
                }}
                title='demo'
                type='file'
            />
            <NavItem
                href='/changelog/'
                current={activeName === 'changelog'}
                colors={{
                    text: COLORS.BLUE.text as string
                }}
                title='changelog'
                type='file'
            />
        </ul>
    </Tag>
</nav>
