---
import Link from "@/components/atoms/Link.astro";
import Tag from "@/components/atoms/Tag.astro";
import type { ColorType } from "@/types/index";
import type { ProjectsCollection } from "@/utils/projects";

interface Props {
	project: ProjectsCollection & {
		baseColor: ColorType;
	};
}

const { project } = Astro.props;
---

<article class='relative'>
    <Link
        href={`${project.data.link}`}
        target='_blank'
        colors={{
            text: project.baseColor.text as string,
            childHoverBackground: project.baseColor
                .childHoverBackground as string,
            childFocusBackground: project.baseColor
                .childFocusBackground as string,
            childHoverOutline: project.baseColor.childHoverOutline as string,
            childFocusOutline: project.baseColor.childFocusOutline as string
        }}
        class={''}
        title={project.data.title}
    >
        <Tag text='Project' className='h-full'>
            <div class='flex h-full flex-col gap-1'>
                <h2 class='text-base font-bold md:text-lg'>
                    {project.data.title}
                </h2>
                <p class='mb-1 text-xs text-ctp-text md:text-sm'
                    >{project.data.description}</p
                >
            </div>
        </Tag>
    </Link>
</article>
