---
interface Props {
	text: string;
	className?: string;
}

const { text, className } = Astro.props;
---

<div
    class={`flex flex-col bg-ctp-base/40 dark:bg-ctp-crust/40 p-2 rounded-md outline-dashed outline-2 relative outline-ctp-overlay2 ${
        className ?? ''
    }`}
>
    <p class='text-xs md:text-sm'>
        <span class='text-ctp-teal'>{`<`}</span><span
            class='italic text-ctp-blue'>{text}</span
        ><span class='text-ctp-teal'>{`>`}</span>
    </p>
    <div class='h-full px-2'>
        <slot />
    </div>
    <p class='text-xs md:text-sm'>
        <span class='text-ctp-teal'>{`</`}</span><span
            class='italic text-ctp-blue'>{text}</span
        ><span class='text-ctp-teal'>{`>`}</span>
    </p>
</div>
